body {
    font: 10px sans-serif;
    width: 100%;
    word-wrap: break-word;
}

h1{
    text-align: center;
    font-size: 30px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.bar {
    fill: steelblue;
}

.x.axis path {
    display: none;
}

.tooltip{
    text-anchor: right;
    font-family: sans-serif;
    font-size: 20px;
    fill: black;
}

p {
    text-align: center;
    font-size: 15px;
}
