body {
    font: 10px sans-serif;
    width: 100%;
    word-wrap: break-word;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.bar {
    fill: steelblue;
}

.x.axis path {
    display: none;
}

.tooltip{
    text-anchor: right;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: bold;
    fill: black;
}
